@font-face {
    font-family: "Helvetica";
    src: url("../fonts/helvetica/Helvetica.ttf") format("truetype");
}
  
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background: #7a7880;
    border-radius: 6px;
}
  

body {
    background-image: url("../images/fond.png");
    background-size: cover;
    background-repeat:repeat;
}
  
div.corp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    /* background-color: aqua; */
}
  
div.header {
    display: flex;
    align-self: flex-start;
}

.link {text-decoration: none;}

div.header h1 {
    display: flex;
    align-self:flex-start;
    font-family:"Helvetica",sans-serif;
    font-size: 5vw;
    color: #7a7880;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    /* background-color: yellow; */
}

div.imageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    margin-bottom: 7%;
    width: 50%;
    /* background-color: red; */
}

.img_migna {
    width: 100%;
    background-color: blue;
    transition: transform 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.img_migna:hover{
    transform: scale(1.2);
}

.a_migna {
    margin: 1%;
    width: 15%;
    /* background-color: #7a7880; */
}

.navbar {
    display: flex;
    align-self: self-start;
    flex-direction: column;
    padding:10px
}
  
.navbar a {
    font-family: "Helvetica",sans-serif;
    font-size: 2vw;
    text-decoration: none;
    color:#7a7880;
    transition: font-size 0.2s ease;
}

.navbar a:hover {
    font-size: 2.2vw;
}

/* TELEPHONE VIEW */
@media (max-width: 767px) {

    body {
        background-image: url("../images/fond_tel.png");
    }

    div.header h1 {
        text-align: center;
        padding-left: 0%;
        font-size: 10vw;
        margin-top: 10%;
      }

    div.imageContainer {
        margin-top: 30%;
        width: 80%;
    }
    .a_migna {
        width: 20%;
    }

    div.header {
        align-self: center;
    }
  
    .navbar {
        align-self: center;
        margin-top: 20%;
    }
    .navbar a {
      display: flex;
      justify-content: center;
      font-size: 8vw;
    }
    .navbar a:hover {
      font-size: 10vw;
    }
  }
  